<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Final-Project CSC664 Multimedia</title>
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script src="script.js"></script>
</head>
<body>
    
<h3 style="margin-block-start: 2px; text-align:center">Event-based grouping and interaction with personal multimedia information</h3> 
    <form id="inputForm">
        <input id="inputField" type="text" name="text" placeholder="Search event here">
        <button>Submit</button>
    </form>
    <ul id="photo-list">
        </ul>

        <form id="inputForm2">
            <input id="inputField2" type="text" name="text" placeholder="Search by month">
            <button>Submit</button>
        </form>
        <ul id="photo-list2">
            </ul>

            <form id="inputForm3">
                <input id="inputField3" type="text" name="text" placeholder="Search by name">
                <button>Submit</button>
            </form>
            <ul id="photo-list3">
                </ul>

                <form id="inputForm4">
                    <input id="inputField4" type="text" name="text" placeholder="Search by location">
                    <button>Submit</button>
                </form>
                <ul id="photo-list4">
                    </ul>


                <div id="map">
                    <!-- 
                        // GOOGLE MAPS API
                       The `defer` attribute causes the callback to execute after the full HTML
                       document has been parsed. For non-blocking uses, avoiding race conditions,
                       and consistent behavior across browsers, consider loading using Promises
                       with https://www.npmjs.com/package/@googlemaps/js-api-loader.
                    -->
                   <script 
                       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLQbCpMRwV8bgBNxGMcsMwJniGT99xyEQ&callback=initMap"
                       defer>
                   </script>
                   
               </div> 

</body>
</html>