/* .delete {
    color:red
}

span {
    cursor: pointer;
}

.completed {
    text-decoration: line-through
} */

/* body {
    background-color: #87b4f8;
    } */
h2{
    color: rgb(0, 2, 139);border: 1px solid black;
    background: #8afab9e5;
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
}
body {
    /*  display: flex;  */
    /* justify-content: center;  */
    /* align-items: center; */
    background: #e8e8e8;
    font-family: 'helvetive neue', sans-serif;
    font-weight: 700;
}
#inputForm{
    border: 1px solid black;
    background: hsl(85, 100%, 95%);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    /* margin-left: 55px; */
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
}
#inputForm2{
    border: 1px solid black;
    background: hsl(141, 100%, 95%);
    color: rgb(8, 117, 35);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    /* margin-left: 55px; */

}
#inputForm3{
    border: 1px solid black;
    background: rgb(204, 203, 247);
    color: rgb(60, 0, 139);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    /* margin-left: 55px; */

}

#inputForm4{
    border: 1px solid black;
    background: rgb(105, 238, 101);
    color: rgb(60, 0, 139);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    /* margin-left: 55px; */

}

/* Set the size of the div element that contains the map */
#map {
    height: 300px;
    /* The default height is 400 pixels */
    width: 57%;
    /* The width is the width of the web page Default 100% */
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 65px;
    margin-bottom: 1px;
    margin-right: 100px;
    margin-left: 580px;
  }


  /* .ul.photo-list{
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
} */

/* gallery tag not being used*/
/* .gallery{
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns /
    -webkit-column-gap:5px; /* give it a 5px gap between columns /
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}  */