/* .delete {
    color:red
}

span {
    cursor: pointer;
}

.completed {
    text-decoration: line-through
<<<<<<< HEAD
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    border: 1px solid black;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
}
=======
} */

/* body {
    background-color: #87b4f8;
    } */
h2{
    color: rgb(0, 2, 139);border: 1px solid black;
    background: #8afab9e5;
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
}
body {
    /*  display: flex;  */
    /* justify-content: center;  */
    /* align-items: center; */
    background: #e8e8e8;
    font-family: 'helvetive neue', sans-serif;
    font-weight: 700;
}
#inputForm{
    border: 1px solid black;
    background: hsl(85, 100%, 95%);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    /* margin-left: 55px; */
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
}
#inputForm2{
    border: 1px solid black;
    background: hsl(141, 100%, 95%);
    color: rgb(8, 117, 35);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    /* margin-left: 55px; */

}
#inputForm3{
    border: 1px solid black;
    background: rgb(204, 203, 247);
    color: rgb(60, 0, 139);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    /* margin-left: 55px; */

}

#inputForm4{
    border: 1px solid black;
    background: rgb(105, 238, 101);
    color: rgb(60, 0, 139);
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    /* margin-left: 55px; */

}

/* Set the size of the div element that contains the map */
#map {
    height: 300px;
    /* The default height is 400 pixels */
    width: 57%;
    /* The width is the width of the web page Default 100% */
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 65px;
    margin-bottom: 1px;
    margin-right: 100px;
    margin-left: 580px;
  }


/*--------------------------------Testing new code --------------------------------*/
/*Testing new code */
/*Testing new code */
/*Testing new code */
:root {
    --font-family-first: 'Roboto Mono', monospace;
    
    --color-first: #E63946;
    --color-second: #1D3557;
    --color-third: #F1FAEE;
    --color-fourth: #CEB02A;
    --color-black: #000;
}

* {
    margin: 40;
    padding: 60;
    box-sizing: border-box;
}

button {
    font-family: inherit;

    border: none;
    cursor: pointer;
}

.main-title {
    margin-bottom: 50px;
    margin-left: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 45px;
    font-weight: bold;
    color: var(--color-third);
}

.main-title.-second { 
    color: var(--color-first);
    margin-bottom: 10px; 
}

.main-carousel {
    position: relative;

    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    padding-left: 90px;
    padding-right: 100px;
    margin-bottom: 75px;
    margin-top: 120px
}

.main-carousel::after {
    position: absolute;
    left: 50px;
    top: 32px;

    display: block;
    width: calc(100% - 100px); 
    height: 6px;

    content: '';
    background-color: #000;
}

.main-carousel::before {
    position: absolute;
    left: 0;
    top: 52px;

    display: block;
    box-sizing: border-box;
    width: 90%;

    content: '';
    /* border: 1px dashed var(--color-black); */
}

.button-arrow {
    position: absolute;
    bottom: 50px; /* 75px - 25px */
  
    width: 50px;
    height: 50px;

    background-color: var(--color-first);
    box-shadow: 5px 5px 0px var(--color-black);
    
    transition: transform 300ms cubic-bezier(.42,0,.66,2.35);
}

.button-arrow:hover { transform: scale(1.08); }

/* Create the arrow. */
.button-arrow::before {
    display: block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    content: '';
    border: 18px solid transparent;
}

/* The right (>) arrow. */
.button-arrow.-right::before { 
    border-left: 30px solid var(--color-third);

    transform: translateX(12px);
}

/* The left (<) arrow. */
.button-arrow.-left::before { 
    border-right: 30px solid var(--color-third);

    transform: translateX(-12px);
}

.button-arrow.-right { right: 15px; }

.button-arrow.-left { 
    left: 15px; 
    
    box-shadow: -5px 5px 0px var(--color-black);
}

/* Hide the content for acessibility. */
.button-arrow .content { display: none; }

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .cards {
    display: flex;
    justify-content: space-between;

    transition: transform 300ms ease-in-out;
}

.node-card {
    position: relative;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.node-card::before {
    position: absolute;
    bottom: 140px;
    
    width: 40px;
    height: 0;
    box-sizing: border-box;

    content: '';
    border: 3px dashed var(--color-black);

    transform: rotate(90deg) translateX(-50%);
}

.node-card .main-title { margin-bottom: 100px; }

.node-card .logo {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 15px;
    height: 140px;

    background-color: var(--color-fourth);
    border: 10px solid var(--color-black);
}

.logo.-no-padding { padding: 0; }

.logo.-no-padding .image { height: 100px; }

.logo.-bg-red { background-color: var(--color-first); }


/* end of testing */





  /* .ul.photo-list{
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
} */

/* gallery tag not being used*/
/* .gallery{
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns /
    -webkit-column-gap:5px; /* give it a 5px gap between columns /
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}  */
>>>>>>> jose
