.delete {
    color:red
}

span {
    cursor: pointer;
}

.completed {
    text-decoration: line-through
}

/* body {
    background-color: #87b4f8;
    } */

body {
    /*  display: flex;  */
    /* justify-content: center;  */
    /* align-items: center; */
    background: #e8e8e8;
    font-family: 'helvetive neue', sans-serif;
    font-weight: 700;
}

.ul.photo-list{
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}
/* gallery tag not being used*/
/* .gallery{
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns /
    -webkit-column-gap:5px; /* give it a 5px gap between columns /
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}  */

/* Set the size of the div element that contains the map */
#map {
    height: 200px;
    /* The default height is 400 pixels */
    width: 40%;
    /* The width is the width of the web page Default 100% */
  }